<div *ngIf="task" class="taskDetailContainer">
    <div class="closeOverlay" (click)="closeDialog()"><mat-icon>close</mat-icon></div>
    <div class="taskCategory" [style.backgroundColor]="task.category?.color">{{ task.category?.title}}</div>
    <div class="taskTitle">{{task.title}}</div>
    <div class="taskDescription">{{task.description}}</div>
    <div class="taskDateRow">Due date : {{task.dueDate | date:'dd/MM/yyyy'}}</div>
    <div class="taskPriorityRow">Priority: {{task.priority.title}} 
        <div class="priority">
        <img [src]="'./../../../../assets/img/' + task.priority + '.svg'" [alt]="task.priority.title">
    </div></div>
    <div class="assignedTo">
       <div class="assignedTopic">Assigned To:</div> 
       <div class="row" *ngFor="let contact of assigned">
        <div class="assignedContent">
            <div class="assigned" [style.backgroundColor]="contact?.color" >
                {{contact?.initials}}
            </div>
        </div>

        {{contact.name}}
       </div>
    </div>
    <div class="subtasksContent">
        <div class="subtaskTopic">Subtasks</div>
        <div class="noSubtasks" *ngIf="subtasks?.length == 0">Keine Subtasks vorhanden</div>
        <div class="subtasks" *ngFor="let subtask of subtasks">
            <mat-checkbox [checked]="subtask.completed" disabled></mat-checkbox>
            {{subtask.title}}
        </div>
    </div>
    <div class="buttons">
        <div class="buttonBox" (click)="deleteTask(task.id)"><mat-icon>delete</mat-icon></div>

        <div class="buttonBox" (click)="openEditTask(task)"><mat-icon>edit</mat-icon></div>
    </div>
</div>

