<!-- <mat-drawer-container class="example-container" autosize>

  <mat-drawer-content class="contactsList">
    <div class="contact-list-box" >

      <ng-container *ngIf="contacts$ | async as groupedContacts">
        <div *ngFor="let letter of getKeys(groupedContacts)">
          <div class="letter-divider">

            {{ letter }}
            <hr>
          </div>

          <app-contact *ngFor="let contact of groupedContacts[letter]" [contact]="contact"
            (contactSelected)="showContactDetail($event)">
          </app-contact>

        </div>
      </ng-container>
    </div>

  </mat-drawer-content>
  <mat-drawer #rightDrawer class="contactDetail" position="end" [mode]="rightDrawerMode()" opened="true">
    <app-contact-detail [contact]="selectedContact"></app-contact-detail>
  </mat-drawer>
</mat-drawer-container> -->


<!-- <div class="container" id="container-content"></div> -->

<div class="main2" id="main-contact">
  <div class="new-contact-overlay-box d-none" id="overlay-box">

  </div>
  <div class="add-new-contact-button" (click)="addNewContact()">
    <span>New contact</span>
    <img src="assets/img/contactnew.png" alt="" />
  </div>
  <div class="contact-container">
    <div class="contact-list-box" id="contact-list-content">

      <ng-container *ngIf="contacts$ | async as groupedContacts">
        <div *ngFor="let letter of getKeys(groupedContacts)">
          <div class="letter-divider">

            {{ letter }}
            <hr>
          </div>

          <app-contact *ngFor="let contact of groupedContacts[letter]" [contact]="contact"
            (contactSelected)="showContactDetail($event)">
          </app-contact>

        </div>
      </ng-container>
    </div>
    <div class="contact-main-box" id="contact-main-box" [ngClass]="{'d-none' : dataService.isSmallScreen}">
      <div class="contact-main-content" id="show-contact-content">
        <div class="contact-headline-box">
          <span class="kanban-text">Kanban Projekt Management Tool</span>
          <span class="contact-headline">Contacts</span>
          <div class="vertical-and-better">
            <div class="contact-vertical"></div>
            <span class="contact-better-with">Better with a team</span>
          </div>

        </div>
        <div><app-contact-detail [contact]="selectedContact"></app-contact-detail></div>
      </div>
    </div>
  </div>
  <div class="create-new-message" id="create-success-message">
    <span id="message-text-contacts">Contact successfully created</span>
  </div>
  <div id="infoText" class="d-none">
    <span>Task added to board</span><img src="assets/img/board_icon.svg" />
  </div>

</div> 









