// .boardBox {
// position: absolute;
// left: 250px;
// top: 100px;
// display: flex;
// flex-direction: column;
// // width: 100%;
// //  min-width: 260px;
//  width: calc(100% - 250px); /* nimmt die gesamte verfügbare Breite minus der 232px der Sidebar */
//  overflow-x: hidden; /* verhindert horizontales Scrollen */
// }

// .tasks-col {
//   flex: 1; /* ermöglicht, dass die Elemente gleichmäßig die verfügbare Breite nutzen */
//     min-width: 200px;
   
//     margin: 0 25px 25px 0;
//     display: inline-block;
//     vertical-align: top;
//   }
  
//   .example-list {
//     border: dotted 1px #ccc;
//     min-height: 100px;
//     border-radius: 4px;
//     overflow: hidden;
//     display: block;
//     width: 17vw;
//   }
  
//   .task-box {
//     padding: 20px 10px;
//     border-bottom: solid 1px #ccc;
//     color: rgba(0, 0, 0, 0.87);
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
//     box-sizing: border-box;
//     cursor: move;
//     background: white;
//     font-size: 14px;
//     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
//     width: 17vw;
//   }
  
//   .cdk-drag-preview {
//     box-sizing: border-box;
//     border-radius: 30px;
//     box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
//                 0 8px 10px 1px rgba(0, 0, 0, 0.14),
//                 0 3px 14px 2px rgba(0, 0, 0, 0.12);
//   }
  
//   .cdk-drag-placeholder {
//     opacity: 0;
//   }
  
//   .cdk-drag-animating {
//     transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
//   }
  
//   .example-box:last-child {
//     border: none;
//   }
  
//   .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
//     transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
//   }

//   .cdk-drop-list {
//     border-radius: 30px;
//     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
//     border: none;

//   }
//   app-task {
//     width: 100%;
// }

.boardBox {
  position: absolute;
  left: 250px;
  top: 100px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px);
  overflow-x: hidden;
}

.boardContent {

  padding-bottom: 70px;

}
.tasks-col {
  // flex: 1;
  min-width: 200px;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  max-width: 250px;
}

.example-list {
  border: dotted 1px #ccc;
  min-height: 100px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  //  width: 17vw;
  width: 250px;
}

.task-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  // width: 17vw;
  width: 100%;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list {
  border-radius: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
}

app-task {
  width: 100%;
}

// #totalInput {
//   display: flex;
//   gap: 15px;
// }

.boardHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.boardHeader_right {
  align-items: center;
  display: flex;
  gap: 10px;
}

#search {
  height: 38px;
  width: 250px;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
}

.devider {
  border-right: 1px solid #bfbfbf;
  height: 30px;
}

.inputField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 250px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid lightgrey;
}
.right {
  display: flex;
  align-items: center;
}

*:focus {
  outline: none;
}

.picLupe {
  padding-left: 10px;
  padding-right: 10px;
  height: 20px;

}

.head {
  width: 70vw;
  display: flex;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  background-color: rgb(38, 38, 38);
  padding: 10px;
  border-radius: 8px;
}

@media (max-width: 1350px){
  .example-list {
    border: dotted 1px #ccc;
    min-height: 100px;
    // border-radius: 4px;
    overflow: hidden;
    display: block;
    //  width: 17vw;
    width: 180px;
  }
}

@media (max-width: 1150px){

.example-list {
  border: dotted 1px #ccc;
  min-height: 100px;
  // border-radius: 4px;
  overflow: hidden;
  display: block;
  //  width: 17vw;
  width: 180px;
}

  .tasks-col {
    // flex: 1;
    min-width: 200px;
    margin: 0 15px 15px 0;
    display: inline-block;
    vertical-align: top;
  }
}

@media (max-width: 900px){
  .boardBox {
   
    left: 50px;
    top: 100px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
    overflow-x: hidden;
  }

  .tasks-col {
    // flex: 1;
    min-width: 150px;
    margin: 0 15px 15px 0;
    display: inline-block;
    vertical-align: top;
  }

  @media (max-width: 700px){
    .head {
      flex-direction: column;
    }
  }

  @media (max-width: 520px){
    .inputField {
      width: 200px;
    }
  }
}
