
<div *ngIf="contact" class="contact-main-content" id="show-contact-content">
 
    <div  class="contact-main-name">
        <div class="contact-circle-big" [style.backgroundColor]="contact.color">
           {{contact.initials}} 
           
        </div>
        <div *ngIf="selectedContact$ | async as selectedContact" class="name-add-task">
            <span class="name-main">{{selectedContact.name}}</span>
           
            <div class="row"> 
                <div class="addTaskContact" (click)="contact.id !== undefined ? editContact(contact) : null"><mat-icon>edit</mat-icon> Edit</div>
                <div class="addTaskContact"(click)="contact.id !== undefined ? deleteContact(contact.id) : null"><mat-icon>delete</mat-icon> Delete</div>
            </div>
           
        </div>
    </div>
    <div class="contact-information-box">
        <span>Contact Information</span>
    
    </div>
    <div class="mail-phone">
        <span class="mail-phone-headline">Email</span>
        <a href="">{{contact.email}}</a>
        <span class="mail-phone-headline">Phone</span>
        <span>{{contact.phone}}</span>
    </div>
</div>