<!-- 
<div class="contact-headline-box">
    <span class="kanban-text">Kanban Projekt Management Tool</span>
    <span class="contact-headline">Contacts</span>
    <div class="vertical-and-better">
      <div class="contact-vertical"></div>
      <span class="contact-better-with">Better with a team</span>
    </div>

  </div> -->
<div *ngIf="contact" class="contact-main-content" >
    <div class="arrowBack" *ngIf="this.dataService.isSmallScreen" (click)="closeDetail()"><mat-icon>arrow_back</mat-icon></div>
 
    <div *ngIf="selectedContact$ | async as selectedContact" class="contact-main-name">
        <div class="contact-circle-big" [style.backgroundColor]="contact.color">
           {{selectedContact.initials}} 
           
        </div>
        <div  class="name-add-task">
            <span class="name-main">{{selectedContact.name}}</span>
           
            <div *ngIf="selectedContact$ | async as selectedContact" class="row"> 
                <div class="addTaskContact" (click)="contact.id !== undefined ? editContact(selectedContact) : null"><mat-icon>edit</mat-icon> Edit</div>
                <div class="addTaskContact"(click)="contact.id !== undefined ? deleteContact(contact.id) : null"><mat-icon>delete</mat-icon> Delete</div>
            </div>
           
        </div>
    </div>
    <div class="contact-information-box">
        <span>Contact Information</span>
    
    </div>
    <div *ngIf="selectedContact$ | async as selectedContact" class="mail-phone">
        <span class="mail-phone-headline">Email</span>
        <a href="">{{selectedContact.email}}</a>
        <span class="mail-phone-headline">Phone</span>
        <span>{{selectedContact.phone}}</span>
    </div>
</div>