<!-- <p>contact-detail works!</p> -->
<div class="contact-main-content" id="show-contact-content">
    <div class="contact-headline-box">
        <!-- <span class="kanban-text">Kanban Projekt Management Tool</span>
        <span class="contact-headline">Contacts</span> -->
        <span class="arrow-back-to-contact" (click)="something()">&#10132;</span>
        <!-- <div class="vertical-and-better">
            <div class="contact-vertical"></div>
            <span class="contact-better-with">Better with a team</span>
        </div> -->
    </div>
    <div class="contact-main-name">
        <div class="contact-circle-big bg${color}">
            AB
        </div>
        <div class="name-add-task">
            <span class="name-main">Julia Georgiew</span>
            <span class="addTaskContact">&#10011; Add Task</span>
        </div>
    </div>
    <div class="contact-information-box">
        <span>Contact Information</span>
        <div class="edit-contact-box" (click)="editContact()">
            <div class="pen">
                <img src="assets/img/edit.png">
            </div>
            <span class="pen-text">Edit Contact</span>
        </div>
    </div>
    <div class="mail-phone">
        <span class="mail-phone-headline">Email</span>
        <a href="">java2011@me.com</a>
        <span class="mail-phone-headline">Phone</span>
        <span>123123</span>
    </div>
</div>