
<div class='addtaskBox'>
    <div *ngIf="!editMode"><h1>Add Task</h1></div>
    <div *ngIf="editMode"><h1>Edit Task</h1></div>
    <form [formGroup]="taskForm">
        <div class="addTaskContainer">
            <div class="left">
                <!-- Title input field -->
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" formControlName="title" class="form-control">

                    <!-- Error message for title -->
                    <div *ngIf="taskForm.controls['title'].touched && taskForm.controls['title'].invalid"
                        class="error-text">
                        Title is required
                    </div>
                </div>

                <!-- Description textarea field -->
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" formControlName="description" class="form-control"></textarea>

                    <!-- Error message for description -->
                    <div *ngIf="taskForm.controls['description'].touched && taskForm.controls['description'].invalid"
                        class="error-text">
                        Description is required
                    </div>
                </div>

              


                <div class="form-group" >
                    <label for="category">Category</label>
                    <mat-form-field appearance="outline"  *ngIf="!showNewCategoryInput">
                        <mat-select placeholder="Select Category" formControlName="category">
                            <mat-option *ngFor="let category of categories" [value]="category">
                                {{ category.title }}
                            </mat-option>
                            <mat-option (click)="createNewCategory()">
                                Create new Category
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <form [formGroup]="categoryForm" (ngSubmit)="saveNewCategory()" *ngIf="showNewCategoryInput">
                        <div class="form-group position-relative">
                            <input type="text" id="newCategoryTitle" formControlName="newCategoryTitle" placeholder="Add new Category" class="with-icons">
                            <mat-icon class="icon-save" style="color: green;" (click)="saveNewCategory()">done</mat-icon>
                            <mat-icon class="icon-cancel" style="color: red;" (click)="cancelNewCategory()">close</mat-icon>
                        </div>
                    </form>

                   </div>
                
                <div class="form-group" >
                    <label for="assigned">Assigned to</label>
                    <mat-form-field appearance="outline">
                        <mat-select placeholder="Select Contacts" multiple formControlName="assigned">
                            <mat-option *ngFor="let contact of contacts" [value]="contact">
                                {{ contact.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                  
                </div>

                
            </div>
            <div class="right">
                
                <div class="form-group">
                    <label for="dueDate">Due Date</label>
                    <input type="date" id="dueDate" formControlName="dueDate" class="form-control" [value]="editMode ? taskForm.get('dueDate')?.value : tomorrow">
                
                    <div *ngIf="taskForm.get('dueDate')?.hasError('required')" class="error-text">
                        Due Date is required
                    </div>
                    <div *ngIf="taskForm.get('dueDate')?.hasError('invalidDate')" class="error-text">
                        Due Date must be after the current date
                    </div>
                </div>

                <div class="form-group">
                    <label for="dueDate">Prio</label>
                <div class="priority-buttons">
                    <button (click)="setPriority('low')" [class.active]="priority === 'low'" class="low">Low</button>
                    <button (click)="setPriority('medium')" [class.active]="priority === 'medium'" class="medium">Medium</button>
                    <button (click)="setPriority('urgent')" [class.active]="priority === 'urgent'" class="urgent">Urgent</button>
                  </div>
                  </div>

                  <div class="form-group position-relative">
                    <label for="title">Subtasks</label>
                    <input type="text" id="subtask" class="form-control" #subtaskInput>
                    <mat-icon class="icon-save" style="color: green;" (click)="addSubtask(subtaskInput.value,  subtaskInput)">done</mat-icon>
                    <mat-icon class="icon-cancel" style="color: red;" (click)="cancelSubtask(subtaskInput)">close</mat-icon>
                  </div>
                 
                    <div class="subtaskRow" *ngFor="let subtask of subtaskValues">
                        <mat-checkbox [checked]="subtask.completed"></mat-checkbox><div class="subtaskList"><div>{{subtask.title}}</div><div (click)="deleteSubtask(subtask.title)"><mat-icon style="color: rgb(255, 0, 0);">delete</mat-icon></div></div>
                    </div>
              

                  

     <!-- Submit button -->
     
     <button type="submit" (click)="submitTask()" [disabled]="taskForm.invalid" class="btn btn-primary">Submit</button>
            </div>
       
        </div>
    </form>

</div>