/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
:root {
    --darkblue: rgb(41, 54, 70);
    --lightblue: rgba(11, 173, 221);
    --darkerblue: #091931;
    --boxshadow-hover: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --gap-between-boxes: 25px;
    --background-grey: #f5f5f5;

}

body {
     margin: 0; 
     font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color:  #F5F5F5;}


    .mat-mdc-dialog-container .mdc-dialog__surface {
     border-radius: 30px !important;
     // border-top-right-radius: 0px !important;
 }

 .mat-drawer-inner-container{
    background-color:#FAFAFA;
    border-left-color: #FAFAFA;
 }
//  mat-drawer-container {
//     width: 1100px;
//  }

mat-Drawer-Content {
    border: none;
}

app-home {
    margin-top: 100px;
}
@media (max-width: 400px){
 button.urgent,  button.medium, button.low  {
    width:50px;
    padding: 5px 5px;
    font-size: 0.6em;
 }
}