<div class="singleTaskContainer">
    <div class="taskCategory" [style.backgroundColor]="task.category.color">{{ task.category.title}}</div>
    <div class="taskTitle">{{ task.title}}</div>
    <div class="taskDescription">{{task.description}}</div>
    <div class="progressRow">
        <mat-progress-bar mode="determinate" value="{{percent}}" [ngStyle]="{'--mdc-linear-progress-active-indicator-color': task.category.color}"></mat-progress-bar>
        <div class="progressText">{{completedCount}}/{{subtasks.length}} done</div>
    </div>
    <div class="lastRow">
        <div class="assignedContent">
            <div class="assigned" [style.backgroundColor]="contact.color" *ngFor="let contact of assigned">
                {{contact.initials}}
            </div>
        </div>
        <div class="priority"></div>
    </div>

</div>